{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "EMBEDED",
      "classPath" : [ ],
      "config" : {
        "users" : []
      },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ],
    "adminConsoleUrl" : "http://localhost:8090"
  },
  "/zap" : {
    "path" : "/zap",
    "webFolder" : "",
    "icon" : "icon.png",
    "security" : {
      "module" : "EMBEDED",
      "classPath" : [ ],
      "config" : {
        "users" : [
          {
            "username" : "team-1",
            "password" : "KIGnsd2H",
            "roles": ["admin"]
          }, {
            "username" : "team-2",
            "password" : "fPCNTds2",
            "roles": ["admin"]
          }, {
            "username" : "team-3",
            "password" : "wM88Rosn",
            "roles": ["admin"]
           }, {
            "username" : "team-4",
            "password" : "UjqwjxlH",
            "roles": ["admin"]
           }, {
            "username" : "team-5",
            "password" : "JXKZva4V",
            "roles": ["admin"]
           }, {
            "username" : "team-6",
            "password" : "8RT1RbQl0j",
            "roles": ["admin"]
           }, {
            "username" : "team-7",
            "password" : "RlsdAxB",
            "roles": ["admin"]
           }, {
            "username" : "team-8",
            "password" : "DHHs22gj",
            "roles": ["admin"]
           }, {
            "username" : "team-9",
            "password" : "2rLi66q",
            "roles": ["admin"]
           }, {
            "username" : "team-10",
            "password" : "UVZZhy2i",
            "roles": ["admin"]
           } 
        ]
      },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "theme" : "Murrine",
      "directdraw" : false,
      "javaFx" : true,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "args" : "ZAP_OPTS",
        "mainClass" : "org.zaproxy.zap.ZAP"
      },
      "swingSessionTimeout" : -1,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "allowJsLink" : true,
      "fontConfig" : { },
      "classPathEntries" : [ "zap-*.jar" ],
      "transferDir" : "${user}/upload",
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "transparentFileOpen" : true,
      "timeoutIfInactive" : false,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "homeDir" : "/zap"
    },
    "enabled" : true,
    "langFolder" : "",
    "maxClients" : 10,
    "monitorEdtEnabled" : false,
    "allowStealSession" : true,
    "goodbyeUrl" : "",
    "name" : "ZAP",
    "autoLogout" : true,
    "sessionMode" : "CONTINUE_FOR_USER",
    "sessionStealing" : true,
    "uploadMaxSize" : 5,
    "webHomeDir" : "/zap"
  }
}